<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard_My profile</title>
    <link rel="stylesheet" href="profile.css">
    <script src="https://kit.fontawesome.com/b79eeb51a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
</head>

  <body>
	{% include 'header.html' %}

	{% include 'sidebar.html' %}

    <main>
    <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Profile Settings</h3>
						<form action="/profile_update" method="post">
						<input type="hidden" name="user_id" value="{{user.id}}" />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Full Name</label>
								  	<input type="text" class="form-control" name="name" value="{{profile.name}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Username</label>
								  	<input type="text" class="form-control" name="username" value="{{user.username}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Email</label>
								  	<input type="email" class="form-control" name="email" value="{{profile.email}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Phone number</label>
								  	<input type="text" class="form-control" name="phone_number" value="{{profile.phone_number}}">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
								  	<label>Address</label>
								  	<input type="text" class="form-control" name="address" value="{{profile.address}}">
								</div>
							</div>
						</div>
                        
						<div class="d-flex align-items-center mt-3">
							<div class="mr-3">
								<button class="btn btn-dark update-btn">Update</button>
							</div>
							<a href="/change_pw" class="btn btn-secondary">Go to Change password</a>
						</div>
						</form>
					</div>
    
    
    
    </main>




  </body>
</html>
