<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars</title>
    <link rel="stylesheet" href="cars.css" class="rel" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/b79eeb51a3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
	{% include 'header.html' %}

    <main>
      <div class="container py-2">
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

          {% for car in car_rentals %}
          <div class="col">
            <div class="card">
              <img src="{{ car.image }}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{car.model}}</h5>
                <p class="card-text">
                  {{ car.description }}
                </p>
              </div>
              <div class="d-flex justify-content-around mb-3">
                <a href="/cars_detail?id={{car.id}}"><button class="btn btn-primary">View</button></a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
